/* Minimal global CSS for Adventscalendar */

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, ui-sans-serif, sans-serif;
  font-size: 1em;
  background-color: var(--back);
}

body {
  color: var(--color);
  background-color: var(--back);
}


main {
  position: relative;
  width: 600px;
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  color-scheme: dark light;
  --color: #111111;
  --back: #eeeeee;
  --code: #ffee88;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: lightgoldenrodyellow;
    --back: #111111;
  }
}

.back {
  position: absolute;
  top: 0.5rem;
  left: 0;
  width: 2rem;
  height: 2rem;
  border-radius: 0.4rem;
  background-color: red;
  background-size: 2rem 2rem;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'><path d='M10 24l12 12M10 24l12-12M12 24h26' stroke='white' stroke-width='8' stroke-linecap='round' /></svg>");
  user-select: none;
  cursor: pointer;
}

code {
  background-color: var(--code);
  color: var(--color);
  padding: 0 0.2em;
}

pre>code {
  position: relative;
  display: block;
  padding: 0.4em;
}

pre>code:hover::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 32px;
  content: "";
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'><path d='M30 36v6H6V18v0h6m6-12h24v24H18z' fill='none' stroke='black' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/></svg>");
}

a,
a:hover,
a:visited {
  color: currentColor;
  text-decoration: underline;
}

.taglist>a {
  display: inline-block;
  height: 1.6em;
  background: #203050;
  text-align: center;
  padding: 0.2em 0.6em;
  position: relative;
  margin-right: 1em;
  text-decoration: none;
  color: #fff;
}

.taglist>a::before {
  content: "#";
}

.taglist>a::after {
  content: "";
  border-top: 0.8em solid transparent;
  border-bottom: 0.8em solid transparent;
  border-left: 0.8em solid #203050;
  position: absolute;
  right: -0.8em;
  top: 0;
}